{
  "extends": "./node_modules/@kaliber/eslint-plugin/.eslintrc",
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "typescript/node_modules"]
      }
    }
  }
}
