.layout {
  & > .imageCoverLayout {
    height: 50vh !important;
    width: 100% !important;
  }

  & > .imageCropped1To1Layout {
    width: 100%;
    max-width: 1024px !important;
  }

  & > .imageCropped1To2Layout {
    width: 100%;
    max-width: 720px !important;
  }

  & > .imageSmallLayout {
    width: 200px;
  }
}

.imageInline {
  display: inline-block;
}
