.layout {
  & > .imageCover {
    height: 50vh !important;
    width: 100% !important;
  }

  & > .imageCropped1To1 {
    width: 100%;
    max-width: 1024px !important;
  }

  & > .imageCropped1To2 {
    width: 100%;
    max-width: 720px !important;
  }

  & > .imageSmall {
    width: 200px;
  }
}

.imageInline {
  display: inline-block;
}
